header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px 0;
    animation: 1s fade-in;
    z-index: 1;


    h2 {
        a {
            color: $text-light;;
        }
    }
}
