.hero {
    position: relative;
    background: linear-gradient($dark-blue, $light-blue);
    background-image: url('img/space.jpg') cover;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    z-index: 0;  

    .hero-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $text-light;
        animation: fade-in 2s;
        
        h2 {
            font-weight: 400;
            font-size: 1rem;
        }
    }

}