.btn {
    border: none;
    padding: 10px 40px;
    margin: 50px 5px;
    background-color: $dark-blue;
    border-radius: 15px;
    outline: none;
    display: block;
    color: $text-light;

    &:hover {
        transition: ease-in 1s;
        opacity: 0.5;
    }
}