* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Raleway';
}

section {
    padding: 15px 50px;

    &:not(.hero) {
        
        &:nth-child(odd) {
            background-color: $light-blue;
            color: $text-light;
        }
    }

}