a {
    text-decoration: none;
    opacity: 0.75;

    &:hover {
        opacity: 1;
    }
}

.paragraph {
    margin-bottom: 7px;
    text-align: justify;

    &:last-child {
        margin-bottom: 0;
    }
}